language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.1
    - android-25
    - extra-android-m2repository

jdk:
  - oraclejdk8

branches:
  only:
    - master

sudo: false

notifications:
  email: false

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libstdc++6:i386 lib32z1 expect
